.single.single-sfwd-courses {
  #main {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 150px;
    box-sizing: border-box;
  }

  .post-image,
  .post-header {
    display: none;
  }
}

/* Course */
.course-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  margin-bottom: 100px;
}

@media (max-width: 650px) {
  .course-page {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  #main .ld-section-heading h2 {
    display: block;
    margin-bottom: 20px;
    text-align: left;
  }

  #main .ld-course-status-segment {
    padding: 0;
  }
}

.single-sfwd-courses .hentry > img {
  display: none;
}

.course-sidebar {
  min-width: 280px;
}

@media (max-width: 350px) {
  #main .course-sidebar {
    min-width: 0;
  }
}

#main .ld-item-lesson-item {
  margin: 0;
  border: none;
  background: #fbfbfb;
  margin-bottom: 3px;
  transition: background 0.5s ease;
}

#main .ld-item-list-item-preview {
  padding: 10px;
}

#main .ld-item-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #000;
}

#main .ld-status-icon {
  margin: 0;
}

#main .ld-section-heading h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

#main .ld-course-status {
  background: #fbfbfb;
  flex-direction: column;
  padding: 20px;
}

#main .ld-course-status-segment {
  width: 100%;
  border: none;
}

#main .btn-join {
  background-color: #fffbfa;
  font-size: 15px;
  padding: 12px 20px;
  transition: background-color 0.5s ease;
  text-align: center;
}

#main .ld-progress-steps {
  display: none !important;
}

.ld-content-actions {
  align-items: center;
  padding: 15px 20px;
  gap: 20px;
}

#main .sfwd-mark-complete {
  min-width: 200px;
  margin-bottom: 10px;
}

#main .ld-course-step-back {
  color: #fff !important;
  background: #111;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
}

#main .ld-breadcrumbs-segments a {
  color: #000 !important;
}

.sfwd-lessons .ld-status {
  margin-bottom: 0;
  max-width: 150px;
}

.learndash-wrapper .ld-breadcrumbs {
  background: #fbfbfb;
}

.single-sfwd-lessons #primary {
  padding-bottom: 100px !important;
}

@media (max-width: 768px) {
  .sfwd-lessons .ld-content-action {
    padding: 5px 0 !important;
    width: 200px !important;
  }
  .sfwd-lessons .ld-content-actions {
    align-items: center;
  }
}

/* Lesson */
.sfwd-lessons .entry-header,
.type-sfwd-courses .entry-header {
  display: none !important;
}

/* Course grid */
#main .learndash-course-grid .entry-title a {
  font-size: 16px;
  text-transform: none;
  font-weight: bold;
}

#main .learndash-course-grid .entry-title {
  margin: 0;
  padding: 0;
}

#main .learndash-course-grid .content {
  background: #fbfbfb;
  padding: 15px 20px;
}

.learndash-course-grid .items-wrapper .grid-1 .post {
  box-shadow: none !important;
  border: none !important;
}

.learndash-course-grid {
  .post {
    padding: 3px !important;
    box-shadow: none !important;
    border: 1px solid #000;
    border-radius: 0 !important;
  }

  img {
    border-radius: 0 !important;
  }

  .content {
    padding: 10px 20px 15px !important;
  }

  .entry-title a {
    position: static !important;
    transform: none !important;
    font-size: 18px !important;
    width: 100% !important;
  }

  .button a {
    background: #000 !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
  }
}

.course-page-single {
  padding: 0 20px;
}
.course-page-single .site-main {
  margin: 0 auto;
  max-width: 940px;
}

.ld-expand-button {
  border-radius: 0 !important;
}

.learndash-wrapper
  .ld-item-list.ld-lesson-list
  .ld-topic-list
  .ld-table-list-header {
  padding: 20px !important;
}

.ld-table-list-title {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center !important;
  gap: 15px !important;
}

.learndash-wrapper .ld-table-list .ld-table-list-item {
  margin: 0 !important;
}

.learndash-wrapper
  .ld-topic-list.ld-table-list
  .ld-table-list-item
  .ld-table-list-item-preview {
  align-items: center !important;
  gap: 15px !important;
}

.learndash-wrapper .ld-status-incomplete.ld-status-icon {
  border: 2px solid #e2e7ed !important;
}

.ld-item-list-item-preview {
  background: #fff !important;
  border: 1px solid #000 !important;
}

.ld-expanded .ld-item-list-item-preview {
  border-bottom: none !important;
}

.learndash-wrapper .ld-item-icon {
  margin-right: 0 !important;
  font-size: 16px !important;
}

.ld-item-list-item .ld-item-title {
  font-size: 16px !important;

  .ld-item-component {
    font-size: 14px !important;
    color: #000 !important;
    margin-top: 0 !important;
  }
}

.ld-course-status .btn-join {
  border-radius: 0 !important;
  padding: 10px 20px !important;
  font-size: 15px !important;
  text-transform: underline !important;
}

@media (max-width: 768px) {
  .learndash-wrapper
    .ld-item-list.ld-lesson-list
    .ld-topic-list
    .ld-table-list-item {
    padding: 0 20px !important;
  }

  .learndash-wrapper
    .ld-item-list
    .ld-item-list-item
    .ld-item-list-item-preview {
    flex-direction: row !important;
    align-items: center !important;
  }
}

.course-title-ld {
  margin-bottom: 10px !important;
  font-size: 18px !important;
}

.ld-content-action a,
.learndash_mark_complete_button {
  border-radius: 0 !important;
}

.learndash-wrapper .ld-table-list {
  border-radius: 0 !important;
  border: 1px solid #000 !important;
}

.learndash-wrapper .ld-table-list .ld-table-list-items {
  border: 0 !important;
}

.learndash-wrapper .ld-lesson-status {
  border-radius: 0 !important;
}
