.customize-control-title-zminimal{
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 8px;
	letter-spacing: 1.75px;
}
.customize-control-description-zminimal span {
    display: block;
    margin-top: 12px;
}
#accordion-section-zminimal_help .accordion-section-title{
	background-color: #69D4E8;
	color: #fff;
}
#accordion-section-zminimal_help .accordion-section-title:hover{
	background-color: #69D4E8 !important;
	color: #fff !important;
	opacity: .8;
}